

#root-app{
    color:white;
    background: linear-gradient(-20deg,#251285,#3d5afe,#04e7e7);
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
   

}

#star > span.letterString,#one > span.letterString,#ten > span.letterString ,#pound > span.letterString{
    color:transparent;
}

#search-row{
    text-align: center;

}
#search{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

h1{
    text-align: center;
    margin-top: 40px;
}

#display{
    background-color: #3d5afe;
    height:5em;
}

#pad-row{
    padding-left: 0;
    padding-right: 0;


}
#pad{
    padding-left: 0;
    padding-right: 0; 

}

button.dial-btn{
    background-color: transparent;
    padding:10px;
    border: solid 1px; 
    border-color: rgb(160,160,255);
    width:33.33%;
    height:25%;
    color:rgb(160,160,255);

}

span.letters{
    display:block;
    font-size: .5em; 

}

span.numbers{
    display:block;
    font-size: 2em; 

}
.delete-symbol{
    display: inline;
    float: right;
    height: 2em;
    
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3d5afe;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #251285;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #251285;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .toggle-wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height:34px;
    margin-bottom: 40px;
  }

.toggle-parts{
    height:34px;
    line-height:34px;

    display: inline;
}

  #by-name{
    line-height:34px;
    margin-right: 10px;
  }

  #by-number{
    line-height:34px;
    margin-left: 10px;

  }
  

.fast .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }

